codigo = int(input("Digite o código do produto\n\n\t"))

if codigo > 40:
    print("\nPor favor, digite um codigo válido")

else:
    quantidade = int(input("\nDigite a quantidade comprada\n\n\t"))

    if codigo >= 1 and codigo <= 10:
        print("\nValor UNITÁRIO do produto: R$ 10,00")
        print("\nVocê comprou", quantidade, "unidade(s)")

        ValorTProdutox = str(quantidade * int(10))

        print("\nValor total da nota: R$", ValorTProdutox)
        ValorTProduto = int(ValorTProdutox)
        if ValorTProduto <= 250:
            descontox = (ValorTProduto * 0.05)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 5% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", +ValorFinal)
        elif ValorTProduto > 250 and ValorTProduto <= 500:
            descontox = (ValorTProduto * 0.1)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 10% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)
        else:
            descontox = (ValorTProduto * 0.15)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 15% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)

    elif codigo >= 11 and codigo <= 20:
        print("\nValor UNITÁRIO do produto: R$ 15,00")
        print("\nVocê comprou", quantidade, "unidade(s)")

        ValorTProdutox = str((quantidade * 15))
        
        print("\nValor total R$" + ValorTProdutox)
        ValorTProduto = int(ValorTProdutox)

        if ValorTProduto <= 250:
            descontox = (ValorTProduto * 0.05)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 5% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor do produto com o desconto é: R$", ValorFinal)
        elif ValorTProduto > 250 and ValorTProduto <= 500:
            descontox = (ValorTProduto * 0.1)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 10% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)
        else:
            descontox = (ValorTProduto * 0.15)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 15% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)

    elif codigo >= 21 and codigo <= 30:
        print("\nValor UNITÁRIO do produto: R$ 20,00")
        print("\nVocê comprou", quantidade, "unidade(s)")

        ValorTProdutox = str((quantidade * 20))

        print("\nValor total R$" + ValorTProdutox)
        ValorTProduto = int(ValorTProdutox)

        if ValorTProduto <= 250:
            descontox = (ValorTProduto * 0.05)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 5% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor do produto com o desconto é: R$", ValorFinal)
        elif ValorTProduto > 250 and ValorTProduto <= 500:
            descontox = (ValorTProduto * 0.1)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 10% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)
        else:
            descontox = (ValorTProduto * 0.15)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 15% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)

    elif codigo >= 31 and codigo <= 40:
        print("\nValor UNITÁRIO do produto: R$ 30,00")
        print("\nVocê comprou", quantidade, "unidade(s)")

        ValorTProdutox = str((quantidade * 30))

        print("\nValor total R$" + ValorTProdutox)
        ValorTProduto = int(ValorTProdutox)

        if ValorTProduto <= 250:
            descontox = (ValorTProduto * 0.05)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 5% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor do produto com o desconto é: R$", ValorFinal)
        elif ValorTProduto > 250 and ValorTProduto <= 500:
            descontox = (ValorTProduto * 0.1)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 10% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)
        else:
            descontox = (ValorTProduto * 0.15)
            desconto = int(descontox)
            ValorFinalx = (ValorTProduto - desconto)
            ValorFinal = int(ValorFinalx)
            print("\nVocê recebeu 15% de desconto")
            print("\nO valor do seu desconto é de: R$", desconto)
            print("\nO valor total do produto com o desconto é: R$", ValorFinal)
